@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital@1&display=swap');
*{
  box-sizing: border-box;
}
body{
margin: 0;
height: 100%;
}
header {
  display: flex;
  flex: 1 1 0%;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
  /* background-color:#9fb445; */
  background-color:#899a3b;




}
/********** START OF NAV BAR STYLING ************/
.first-section {
  display: flex;
  flex: 1 1 0%;
  justify-content: space-between;
 
}

.links ul {
  list-style: none;
  display: flex;
  justify-items: flex-end;
  gap: 50px;
  margin-right: 250px;
font-family: 'Quattrocento Sans', sans-serif;

}

ul li a{
 text-decoration: none;
 color: #dcd6ac;

}
.first-section img {
  height: auto;
  width: 100px;
  margin-left: 100px;
  margin-bottom: 5px;
  margin-top: 5px;
}
/********** END OF NAV BAR STYLING ************/
.container {
  display: flex;
  flex: 1 1 0%;
  justify-content: space-between;
}
.header-main-left {
  align-items: flex-start;
  text-align: center;
  width: 500px;
  height: auto;
  margin-left: 100px;
 color: #322e15;
 font-family: 'Fleur De Leah', cursive;
font-size:22px;
}
.header-main-left p{
 color: #dcd6ac;
font-size: 20px;
font-family: 'Quattrocento Sans', sans-serif;

}

.header-main-left button{
  width:80px;
  height: 25px;
  border:transparent;
  border-radius: 6px;
  font-size: 13px;
  font-weight: bold;
  background-color:#322e15 ;
 color: #dcd6ac;
font-family: 'Quattrocento Sans', sans-serif;



}
.container img {
  width: 400px;
  height: auto;
  margin-right: 200px;
  padding: 15px;
  opacity:0.9;
  border:transparent;
  border-top-left-radius:60px ;
  border-bottom-right-radius: 60px;
}
/********** END OF HEDER STYLING ************/

/*------------------------*/
/*-----------------------*/

/********** START OF MAIN STYLING ************/

main {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  margin: 60px;
  /* padding:50px; */
}

.main-part1-img {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  width: 500px;
  gap: 30px;
  margin-top: 20px;
}
.main-part1-p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 500px;
}

.main-part2{
    align-items: center;
    text-align: center;
    width: auto;
    height: 200px;
    padding: 60px;
   
}
.main-part3{
    align-self: center;
    text-align: center;
    padding: 10px;
    margin: 20px;
}
.sign{
    align-self: center;
    justify-self: center;
}
footer{
    text-align: center;
    height:70px;
    
}
